.card-container {
  background-color: #f5f5f5;
  width: 75%;
  height: 95%;
  overflow-y: auto;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-header {
  background-color: #ffffff;
  padding: 10px 0;
  align-self: stretch;
  margin-bottom: 15px;
}

.card-header h2 {
  margin: 10px;
  font-size: 20px;
  color: #333;
}

.card-header-count {
  flex: auto;
  font-size: 19px;
  color: #b9b9b9;
}