.modal-header {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
  }
  
  .back-button {
    font-size: 24px;
    border: none;
    background: none;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .modal-title {
    font-size: 18px;
    margin: 0;
    flex-grow: 1;
    text-align: left;
  }
  